
.top {
  width: 100%;
  height: 50vh;
  background-color: #eee;
}

.videos{
  margin: 0;
  padding: 0;
}

.video {
  width: 250px;
  padding: 0;
  margin: 10px auto;
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
}

.video-image {
  width: 100%;
  height: 150px;
  background-image: url(https://via.placeholder.com/250x150);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 480px) {
  .top {
    height: 20vh;
  }
  .video {
    width: 100%;
    display: block;
  }
}